{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    Auction - {{ auction.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <!-- Auction listing's image -->
            <div class="col py-3">
                <img src="{{ auction.imageURL }}" alt="auction.title" style="width: 22vw; min-width: 320px; max-width: 400ox; height:auto;">
            </div>

            <!-- auction listing details-->
            <div class="col my-3 center-block">
                <!-- Header with title, watchlist icon, status, and close button -->
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <!-- Title and Watchlist Icon -->
                    <div class="watchlist-icon-container">
                        <h3 class="auction-title mr-2">{{ auction.title }}</h3>
                        <!-- Watchlist Icon -->
                        {% if user.is_authenticated %}
                            <div>
                                <!-- If the auction listing is in user's watchlist display a solid red heart icon -->
                                {% if auction in user.watchlist.auctions.all %}
                                    <i id="watchlist-icon-{{ auction.id }}" class="fas fa-heart watchlist-icon in-watchlist" onclick="toggleWatchlist(this)" data-auction-id="{{ auction.id }}" style="color: red;"></i>
                                <!-- Otherwise the listing is not in user's watchlist. Display a red broken heart -->
                                {% else %}
                                    <i id="watchlist-icon-{{ auction.id }}" class="fas fa-heart-broken watchlist-icon" onclick="toggleWatchlist(this)" data-auction-id="{{ auction.id }}" style="color: red;"></i>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                <h3>{{ auction.title }}</h3>

                <!-- watching badge -->
                {% if user.is_authenticated %}
                    {% if watching %}
                    <h5><span class="badge badge-dark">Watching</span></h5>
                    {% endif %}
                {% endif %}

                <div class="row mb-3">
                    <div class="col-md-2">
                        <div>Status:</div>
                        <div>
                            <strong> 
                            {% if auction.closed %}
                                Closed
                            {% else %}
                                Active
                            {% endif %}
                            </strong>
                        </div>
                    </div>

                    <div class="col-md-auto">
                        {% if user.is_authenticated and not auction.closed and user == auction.seller %}
                         <!-- close listing form -->
                        <form action="{% url 'close' auction.id %}" method="post">
                            {% csrf_token %}

                            <div class="form group py-3">  
                                <button type="submit" class="btn btn-primary btn-sm" style="width: 120px">Close listing</button>
                            </div>
                        </form> 
                        {% endif %}  
                    </div>
                </div>
                    
                <div>Description:</div>
                <div><p>{{ auction.description }}</p></div>
                <div>Current price:</div>
                <div><p><strong style="font-size: 30px">US $ {{ auction.current_bid }}</strong></p></div>
                <div>Starting bid:</div>
                <div><p>US $ {{ auction.starting_bid }}</p></div>
                <div>Seller:</div>
                <div><p>{{ auction.seller.username }}</p></div>
                <div>Created on:</div>
                <div><p><small>{{ auction.creation_date }}</small></p></div>
                <div>Updated on:</div>
                <div><p><small>{{ auction.update_date }}</small></p></div>
                <span class="form-text text-muted">{{ bid_Num }} Bid(s) so far.</span>  

                {% if not auction.closed  %}
                <div class="container" id="button_group">
                    <div class="row">
                        <div class="col-6">
                            <!-- Bid form and button -->
                            <form action="{% url 'bid' auction.id %}" method="post">
                                {% csrf_token %}

                                {% for field in form %}
                                <div class="form-group">
                                    <label><strong>{{ field.label }}:</strong></label>
                                    <div>{{ field }}</div>
                                    <small>
                                        <span class="form-text text-muted">Please place your bid higher than the current price.</span>  
                                    </small>
                                </div>
                                {% endfor %}

                                <button type="submit" id="bid_button" class="btn btn-primary" style="width: 150px">Bid</button>
                            </form> 
                        </div>
                    </div> 
                </div>

                {% else %}
                    {% if highest_bidder %}
                        {% if user.is_authenticated and user == highest_bidder %}
                        <p><strong>Congratulation! You won the bid.</strong></p>
                        {% else %}
                        <p>The bid winner is <strong>{{ highest_bidder.username }}</strong>.</p>
                        {% endif %}
                    {% else %}
                        <p>No bid winner.</p>
                    {% endif %}   
                {% endif %}  
            </div>
        </div>
    </div>

    <hr id="listing_divider">

    <!-- comment form -->
    {% if user.is_authenticated %}
    <div class="container my-5" id="comment_block">
        <h4>Leave your comment</h4>
        <form action="{% url 'comment' auction.id %}" method="post">
            {% csrf_token %} 

            <div class="row">
                <div class="col">
                    <div><label>Headline:</label></div>
                    <div>{{ commentForm.headline }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div><label>Content:</label></div>
                    <div>{{ commentForm.message }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col"> 
                    <button type="submit" id="comment_button" class="btn btn-primary" style="width: 120px">Submit</button>
                </div>          
            </div>
        </form>

    </div>
    {% endif %}

    <!-- comments display -->
    <div class="container" id="comment_display">
        <h4>Item comment(s)</h4>
        {% if comments %}

        {% for comment in comments %}
        <div class="card bg-dark mb-3">
           
            <div class="card-header">
                <strong>{{ comment.user.username }} </strong>
                <div class="text-muted small">
                    commented on {{ comment.cm_date }}
                </div>       
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ comment.headline }}</h5>
              <p class="card-text"> {{ comment.message }}</p>
            </div>
            
        </div>
        {% endfor %}

        {% else %}
        <p>No comments so far.</p>
        {% endif %}
    </div> 

    <script>
        // Method to determine the presence of a listing in the watchlist and either add or remove it based on user interaction
        function toggleWatchlist(element) {
            const auctionId = element.getAttribute('data-auction-id');
            const isInWatchlist = element.classList.contains('in-watchlist');
            const url = isInWatchlist ? `/listing/${auctionId}/removeWatchlist/` : `/listing/${auctionId}/addWatchlist/`;
            // DEBUG: print statement to show whether listing is in watchlist (boolean)
            console.log("Auction ID:", auctionId, "Is in Watchlist:", isInWatchlist, "URL:", url);
            // Fetch appropriate URL to add or remove a listing from user's watchlist, return a JSON response and data, and toggle icon state
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'), 
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'auction_id': auctionId }),
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response Data:", data);
                if (data.status === 'success') {
                    const wasAdded = data.hasOwnProperty('added');
                    updateIconAppearance(element, wasAdded);
                    element.classList.toggle('in-watchlist', wasAdded);
                } else {
                    console.error('Error:', data.message);
                }
            })
            .catch(error => {
                console.error('Fetch Error:', error);
            });
        }
        // Method to update the state of the watchlist icon based on whether the listing is in or out of user's watchlist
        function updateIconAppearance(element, isAdded) {
            if (isAdded) {
                element.classList.remove('fa-heart-broken');
                element.classList.add('fa-heart');
                element.style.color = 'red';
            } else {
                element.classList.remove('fa-heart');
                element.classList.add('fa-heart-broken');
                element.style.color = 'red';
            }
        }
        // Method to retrieve value of a specified cookie by its name. Gets the CSRF token from cookies for POST request
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
        
{% endblock %}

