{% extends "auctions/layout.html" %}

{% block title %}
    Auction - {{ auction.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <!-- Auction listing's image -->
            <div class="col py-3">
                <img src="{{ auction.imageURL }}" alt="{{ auction.title }}" style="width: 22vw; min-width: 320px; max-width: 400px; height:auto;">
            </div>

            <!-- Auction listing details -->
            <div class="col my-3 center-block">
                <!-- Header with title, watchlist icon, status, and close button -->
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <!-- Title and Watchlist Icon -->
                    <div class="d-flex align-items-center">
                        <h3 class="mr-2">{{ auction.title }}</h3>
                        <!-- Watchlist Icon -->
                        {% if user.is_authenticated %}
                            <div>
                                {% if auction in user.watchlist.auctions.all %}
                                    <i id="watchlist-icon-{{ auction.id }}" class="fas fa-heart watchlist-icon" onclick="toggleWatchlist(this)" data-auction-id="{{ auction.id }}" style="color: blue;"></i>
                                {% else %}
                                    <i id="watchlist-icon-{{ auction.id }}" class="fas fa-heart-broken watchlist-icon in-watchlist" onclick="toggleWatchlist(this)" data-auction-id="{{ auction.id }}" style="color: white;"></i>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Listing Status and Close Button -->
                    <div>
                        <div class="mr-3 d-inline">
                            <strong>Status: {% if auction.closed %}Closed{% else %}Active{% endif %}</strong>
                        </div>
                        {% if user.is_authenticated and not auction.closed and user == auction.seller %}
                            <!-- Close listing form -->
                            <form action="{% url 'close' auction.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-sm" style="width: 120px">Close listing</button>
                            </form>
                        {% endif %}
                    </div>
                </div>

                <!-- Description, Price, and Other Details -->
                <div>Description:</div>
                <div><p>{{ auction.description }}</p></div>
                <div>Current price:</div>
                <div><p><strong style="font-size: 30px">US $ {{ auction.current_bid }}</strong></p></div>
                <div>Starting bid:</div>
                <div><p>US $ {{ auction.starting_bid }}</p></div>
                <div>Seller:</div>
                <div><p>{{ auction.seller.username }}</p></div>
                <div>Created on:</div>
                <div><p><small>{{ auction.creation_date }}</small></p></div>
                <div>Updated on:</div>
                <div><p><small>{{ auction.update_date }}</small></p></div>
                <span class="form-text text-muted">{{ bid_Num }} Bid(s) so far.</span>  

                <!-- Bidding Section -->
                {% if not auction.closed  %}
                    <div id="button_group">
                        <!-- Bid form and button -->
                        <form action="{% url 'bid' auction.id %}" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label><strong>{{ field.label }}:</strong></label>
                                    <div>{{ field }}</div>
                                    <small>
                                        <span class="form-text text-muted">Please place your bid higher than the current price.</span>  
                                    </small>
                                </div>
                            {% endfor %}
                            <button type="submit" id="bid_button" class="btn btn-primary" style="width: 150px">Bid</button>
                        </form> 
                    </div>
                {% else %}
                    <!-- Auction Closed Message -->
                    {% if highest_bidder %}
                        {% if user.is_authenticated and user == highest_bidder %}
                            <p><strong>Congratulations! You won the bid.</strong></p>
                        {% else %}
                            <p>The bid winner is <strong>{{ highest_bidder.username }}</strong>.</p>
                        {% endif %}
                    {% else %}
                        <p>No bid winner.</p>
                    {% endif %}   
                {% endif %}  
            </div>
        </div>
    </div>

    <hr id="listing_divider">

    <!-- Comment Form and Display Section -->
    {% if user.is_authenticated %}
        <!-- Comment Form -->
        <div id="comment_block">
            <h4>Leave your comment</h4>
            <form action="{% url 'comment' auction.id %}" method="post">
                {% csrf_token %} 
                <div class="row">
                    <div class="col">
                        <div><label>Headline:</label></div>
                        <div>{{ commentForm.headline }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div><label>Content:</label></div>
                        <div>{{ commentForm.message }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"> 
                        <button type="submit" id="comment_button" class="btn btn-primary" style="width: 120px">Submit</button>
                    </div>          
                </div>
            </form>
        </div>

        <!-- Comments Display -->
        <div id="comment_display">
            <h4>Item comment(s)</h4>
            {% if comments %}
                {% for comment in comments %}
                    <div class="card bg-dark mb-3">
                        <div class="card-header">
                            <strong>{{ comment.user.username }}</strong>
                            <div class="text-muted small">commented on {{ comment.cm_date }}</div>       
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.headline }}</h5>
                            <p class="card-text">{{ comment.message }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No comments so far.</p>
            {% endif %}
        </div>
    {% endif %}

    <script>
        function toggleWatchlist(element) {
            const auctionId = element.getAttribute('data-auction-id');
            const isInWatchlist = element.classList.contains('in-watchlist');
            const url = isInWatchlist ? `/listing/${auctionId}/removeWatchlist/` : `/listing/${auctionId}/addWatchlist/`;

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'), 
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'auction_id': auctionId }),
            })
            .then(response => response.json())
            .then(data => {
                console.log("server response:", data);
                if (data.status === 'success') {
                    element.classList.toggle('in-watchlist');
                    // For debugging:
                    console.log("Toggled watchlist status:", element.classList.contains('in-watchlist'));
                } else {
                    console.error('Error:', data.message);
                }
            })
            .catch(error => {
                console.error('Fetch Error:', error);
            });
        }

        function updateIconAppearance(element, isInWatchlist) {
            if (isInWatchlist) {
                // Change to broken heart (fa-heart-broken) for items not in watchlist
                element.classList.remove('fa-heart');
                element.classList.add('fa-heart-broken');
                element.style.color = 'white';
            } else {
                // Change to solid heart (fa-heart) for items in watchlist
                element.classList.remove('fa-heart-broken');
                element.classList.add('fa-heart');
                element.style.color = 'blue';
            }
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    
{% endblock %}
